{
  "name": {{cluster.name}},
  "description": {{cluster.description}},
  "vxnet": {{cluster.vxnet}},
  "nodes": [{
    "container": {
      "type": "kvm",
      "zone": "desktop1",
      "image": "img-0q36pcaw"
    },
    "count": {{cluster.vdi_node.count}},
    "cpu": {{cluster.vdi_node.cpu}},
    "memory": {{cluster.vdi_node.memory}},
    "instance_class": {{cluster.vdi_node.instance_class}},
    "volume": {
      "size": {{cluster.vdi_node.volume_size}},
      "mount_point": "/data",
      "mount_options": "defaults,noatime",
      "filesystem": "ext4"
    },
    "services": {
      "init": {
        "cmd": "bash -e /opt/zkapp/bin/init.sh"
      },
      "start": {
        "cmd": "bash -e /opt/zkapp/bin/app.sh start"
      },
      "stop": {
        "cmd": "bash -e /opt/zkapp/bin/app.sh stop"
      },
      "restart": {
        "cmd": "bash -e /opt/zkapp/bin/app.sh restart"
      },
      "upgrade": {
        "cmd": "bash -e /opt/zkapp/bin/init.sh"
      }
    },
    "vertical_scaling_policy": "sequential"
  }],
  "health_check": {
    "enable": true,
    "interval_sec": 60,
    "timeout_sec": 10,
    "action_timeout_sec": 30,
    "healthy_threshold": 2,
    "unhealthy_threshold": 2,
    "check_cmd": "bash -e /opt/zkapp/bin/healthcheck.sh",
    "action_cmd": "bash -e /opt/zkapp/bin/app.sh restart"
  },
  "monitor": {
    "enable": true,
    "cmd": "bash -e /opt/zkapp/bin/metrics.sh",
    "items": {
      "mode": {
        "unit": "",
        "value_type": "str",
        "statistics_type": "latest",
        "enums": ["L", "F", "S"]
      },
      "min": {
        "unit": "ms",
        "value_type": "int",
        "statistics_type": "min",
        "scale_factor_when_display": 1
      },
      "avg": {
        "unit": "ms",
        "value_type": "int",
        "statistics_type": "avg",
        "scale_factor_when_display": 1
      },
      "max": {
        "unit": "ms",
        "value_type": "int",
        "statistics_type": "max",
        "scale_factor_when_display": 1
      },
      "received": {
        "unit": "count",
        "value_type": "int",
        "statistics_type": "latest",
        "scale_factor_when_display": 1
      },
      "sent": {
        "unit": "count",
        "value_type": "int",
        "statistics_type": "latest",
        "scale_factor_when_display": 1
      },
      "active": {
        "unit": "count",
        "value_type": "int",
        "statistics_type": "latest",
        "scale_factor_when_display": 1
      },
      "outstanding": {
        "unit": "count",
        "value_type": "int",
        "statistics_type": "latest",
        "scale_factor_when_display": 1
      },
      "znode": {
        "unit": "znode_count",
        "value_type": "int",
        "statistics_type": "latest",
        "scale_factor_when_display": 1
      }
    },
    "groups": {
      "latency": ["min", "avg", "max"],
      "throughput": ["received", "sent"],
      "connections": ["active", "outstanding"]
    },
    "display": ["mode", "latency", "throughput", "connections", "znode"],
    "alarm": ["avg"]
  },
  "advanced_actions": ["change_vxnet", "scale_horizontal"],
  "env": {
    "zkAdminEnabled": {{env.admin_enabled}},
    "zkAdminUsername": {{env.admin_username}},
    "zkAdminPassword": {{env.admin_password}},
    "tickTime": {{env.tickTime}},
    "initLimit": {{env.initLimit}},
    "syncLimit": {{env.syncLimit}},
    "maxClientCnxns": {{env.maxClientCnxns}},
    "autopurge.snapRetainCount": {{env.autopurge_snapRetainCount}},
    "autopurge.purgeInterval": {{env.autopurge_purgeInterval}},
    "zkVersion": "3.4.13",
    "zkVdiServerName": {{env.vdi_server_name}}
  }
}
