[Unit]
Description=Post Docker start
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
ExecStart=/opt/zkapp/bin/network.sh post-docker-start
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
